$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

body {
  background: #3CC;
}

.container {
  display: flex;
  height: 100%;
}

.log-box {
  background-color: #fff;
  box-shadow: 0 1px 5px #000;
  margin: 50px 300px;
  padding: 10px;
  width: 500px;
}

.ud-buttons {
  float: right;
 }

h1 {
  color: #757575;
  font-size: 175%;
  font-weight: 300;
  text-align: center;
}

h1,
input {
  font-family: 'Open Sans', Helvetica, sans-serif;
}

.input {
  border: 0;
  border-bottom: 2px solid #ebebeb;
  display: block;
  height: 50px;
  margin: 0 auto 15px;
  padding: 0 15px;
  width: 75%;

  .focus {
    border-bottom-color: #3CC;
    outline: none;
  }

  .hover {
    border-bottom-color: #dcdcdc;
  }

  .invalid {
    box-shadow: none;
  }
}

.inputbutton {
  background-color: #3CC;
  border: 0;
  box-shadow: 0 5px 0 #2CADAD;
  color: #fff;
  display: block;
  height: 50px;
  margin: 30px auto;
  position: relative;
  width: 85%;

  .hover {
    box-shadow: 0 3px 0 #2CADAD;
    top: 2px;
  }

  .active {
    box-shadow: none;
    top: 5px;
  }

  .focus {
    outline: none;
  }

}

.navbar-brand {
  font-family: cursive;
  font-size: xx-large;
  font-weight: bold;
}

.navbar-small {
  font-family: cursive;
  font-size: large;
  font-weight: bold;
}
